name: Fullstack CI---V2

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'

      # ------ SERVER ------
      - name: Install server dependencies
        working-directory: ./server
        run: npm install

      - name: Run server tests
        working-directory: ./server
        run: npm test --if-present

      # ------ CLIENT ------
      - name: Install client dependencies
        working-directory: ./client
        run: npm install

      - name: Build client
        working-directory: ./client
        run: npm run build --if-present
